<div class="devour col-5 mr-auto">
    <form class="row feed">
        <input type="name" placeholder="Servant" class="servant col-6 mr-2" required data-sushi="{{id}}">
        <button type="submit" class="btn btn-danger align-middle eat col-4">
            Feed!
        </button>
    </form> 
</div>
