<div class="devour col-5">
    <form class="row">
        <input type="name" placeholder="Servant" class="servant col-6 mr-2">
        <button type="submit" class="btn btn-danger align-middle eat col-4" data-id="{{id}}">
            Feed!
        </button>
    </form> 
</div>
