<div class="row text-center">
    <div class="col-4 ml-auto">
        <h4 class="bg-danger rounded text-white align-middle lists">On the Plate</h4>
    </div>

    <div class="col-4 mr-auto">
        <h4 class="bg-danger rounded text-white align-middle lists">In the Tummy</h4>
    </div>
</div>

<div class="row">
    <div class="col-4 ml-auto d-flex flex-row">
        <div class="remove mr-auto">
            {{#each sushi}}
                {{#unless devoured}}
                    {{> delete}}
                {{/unless}}
            {{/each}}
        </div>

        <div class="menu mx-1">
            {{#each sushi}}
                {{#unless devoured}}
                    {{> dish}}
                {{/unless}}
            {{/each}}
        </div>

        <div class="devour ml-auto">
            {{#each sushi}}
                {{#unless devoured}}
                    {{> feed}}
                {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="tummy col-4 mr-auto">
        {{#each sushi}}
            {{#if devoured}}
                {{> tummy}}
            {{/if}}
        {{/each}}
    </div>
</div>
