<div class="row text-center">
    <div class="col-7 ml-auto">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4>On the Plate</h4>
            </div>
            <div class="card-body ">
                    {{#each sushi}}
                        {{#unless devoured}}
                <div class="row">
                            {{> delete}}
                            {{> dish}}
                            {{> feed}}
                </div>
                <hr>
                        {{/unless}}
                    {{/each}}
            </div>
        </div>
    </div>

    <div class="col-4 mr-auto">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4>In the Tummy
                    <button class="btn btn-outline-light helpBtn float-right"><i class="fas fa-trash"></i></button>               
                </h4>
            </div>
            <div class="card-body">
                {{#each sushi}}
                    {{#if devoured}}
                        {{> tummy}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

