body {
    background: #f4da9f
}

.logo {
    max-width: 150px;
    height: auto;
}

.title {
    color: #c72e2f
}

textarea {
    max-width: 500px
}

.sushi, .eat, .eaten {
    height: 30px
}

.eat {
    padding: 0px;
}

.devour {
    width: 100px;
}