body {
    background: #f4da9f
}

.logo {
    max-width: 150px;
    height: auto;
}

.title {
    color: #c72e2f
}

textarea {
    max-width: 400px
}

.delete, .sushi, .eat, .eaten {
    height: 30px;
    overflow:auto;
}

.sushi p, .eaten p {
    margin: 0;
}

.remove {
    width: 30px;
}

.eat, .delete {
    padding: 0px;
}

.devour {
    width: 70px;
}

.eaten {
    background: rgb(190, 190, 190)
}

.devoured {
    color: gray
}